.parcels-table {
	width: 100%;
	min-width: 844px;
	padding-bottom: clamp(10px, 6px + 1.24vw, 20px);
	display: block;
	font-family: 'Lato', sans-serif;
}
.table-header {
	background-color: var(--white);
	display: block;
}
.table-row {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 8px;
	padding: 11px 0;
	border-bottom: 1px solid var(--border);
}
.table-row:nth-child(even) {
	background-color: var(--white);
}
.table-heading {
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	text-align: center;
	width: 100%;
	text-wrap: nowrap;
}
.table-body {
	display: block;
	width: 100%;
	max-height: 600px;
	overflow-y: auto;
	overscroll-behavior: none;
}
.table-data {
	width: 100%;
	font-size: 15px;
	font-weight: 400;
	line-height: 18px;
	text-align: center;
	text-wrap: nowrap;
}
