.reset-password {
	max-width: 528px;
	width: 100%;
	padding: 24px 20px 40px;
	background-color: var(--white);
	border-radius: 16px;
}
.reset-password__title {
}
.reset-password__description {
	color: var(--secondary-text);
	margin: 12px 0 24px;
}
.reset-password__politics {
	margin-top: 24px;
}
.politics__title {
	margin-bottom: 12px;
}
.politics__groups {
}
.politics__group {
	display: flex;
	align-items: center;
	gap: 16px;
	margin-bottom: 8px;
}
.politics__group:last-of-type {
	margin-bottom: 0;
}
.politics__text {
	font-family: var(--lato);
	font-size: 13px;
	line-height: 16px;
	letter-spacing: 0;
	font-weight: 400;
	color: var(--secondary-text);
}
