@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #f8f9fa; /* Светло-серый (фон) */
	--primary: #071668; /* Темно-синий (основной цвет) */
	--primary-text: #212121; /* Темно-серый (текст на основном фоне) */
	--secondary: #ff9500; /* Оранжевый (второстепенный цвет) */
	--secondary-text: #616161; /* Серый (текст на второстепенном фоне) */
	--border: #cac9c9; /* Серый (границы, разделители) */
	--icons: #959595; /* Серый (цвет иконок) */
	--success: #4caf50; /* Зеленый (успешно) */
	--error: #d32f2f; /* Красный (ошибка) */
	--warning: #ffa000; /* Желтый-оранжевый (предупреждение) */
	--info: #1976d2; /* Синий (информация) */
	--dark: #242426; /* Глубокий черный */
	--black: #000000;
	--white: #ffffff;
	--success-hover: #347e37; /* hover color over var(--success) */
	--background-hover: #00000011; /* hover color over var(--background) */
	--border-hover: #9ca3af;
	--primary-hover: #071668e7; /* hover color over var(--primary) */
	--info-hover: #0b559f; /* hover color over var(--info) */
	--white-hover: #071e681a; /* hover color over var(--white) */
	--secondary-hover: #ffa932; /* hover color over var(--secondary) */
	--error-hover: #e63b3b; /* hover color over var(--error) */
	--font-lato: 'Lato', sans-serif;
	--font-rubik: 'Rubik', sans-serif;
	--font-roboto: 'Roboto', sans-serif;
	--font-poppins: 'Poppins', sans-serif;
}

body {
	background: var(--background);
	color: var(--primary-text);
}
.container {
	max-width: 1128px;
	margin: 0 auto;
	padding: 0 clamp(15px, 11.4px + 1.11vw, 24px);
}

button,
a {
	user-select: none;
}

.h1 {
	font-family: var(--font-rubik);
	font-weight: 500;
	font-size: clamp(24px, 10.5px + 4.21vw, 58px);
	line-height: 50px;
	letter-spacing: 0px;
}

.h2 {
	font-family: var(--font-rubik);
	font-weight: 500;
	font-size: clamp(20px, 13.6px + 1.98vw, 36px);
	line-height: 32px;
	letter-spacing: 0px;
}

.h3 {
	font-family: var(--font-rubik);
	font-weight: 500;
	font-size: 28px;
	line-height: 30px;
	letter-spacing: 0px;
}

.h4 {
	font-family: var(--font-rubik);
	font-weight: 500;
	font-size: clamp(18px, 15.6px + 0.74vw, 24px);
	line-height: 26px;
	letter-spacing: 0px;
}

.h5 {
	font-family: var(--font-rubik);
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 0px;
}

.h6 {
	font-family: var(--font-rubik);
	font-weight: 500;
	font-size: clamp(15px, 13.8px + 0.37vw, 18px);
	line-height: 24px;
	letter-spacing: 0px;
}

.bodyLarge {
	font-family: var(--font-lato);
	font-weight: 400;
	font-size: 18px;
	line-height: 20px;
	letter-spacing: 0px;
}

.bodyText {
	font-family: var(--font-lato);
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0px;
}

.bodySmall {
	font-family: var(--font-lato);
	font-weight: 400;
	font-size: 15px;
	line-height: 20px;
	letter-spacing: 0px;
}

.bodyBold {
	font-family: var(--font-lato);
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0px;
}

.uiInputLabel {
	font-family: var(--font-lato);
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0px;
}
.uiTextAreaLabel {
	font-family: var(--font-lato);
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0px;
}

.supportBadge {
	font-family: var(--font-lato);
	font-weight: 500;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 0px;
}

.hide-native-scrollbar {
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.hide-native-scrollbar::-webkit-scrollbar {
	display: none;
}
.input-no-spinner::-webkit-inner-spin-button,
.input-no-spinner::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.input-no-spinner {
	-moz-appearance: textfield;
	appearance: textfield;
}
.sr-only {
	position: absolute;
	border: 0px;
	width: 1px;
	padding: 0px;
	margin: -1px;
	overflow: hidden;
	clip: rect(0px, 0px, 0px, 0px);
	white-space: nowrap;
	overflow-wrap: normal;
}

.styled-scroll::-webkit-scrollbar {
	width: 4px;
}

.styled-scroll::-webkit-scrollbar-track {
	background: var(--background);
	border-radius: 9999px;
}

.styled-scroll::-webkit-scrollbar-thumb {
	background-color: var(--success);
	border-radius: 9999px;
}

.styled-scroll::-webkit-scrollbar-thumb:hover {
	background-color: var(--success-hover);
}
